extends layout

block content
	p This small app sends you 
		a(href="https://www.pushbullet.com") Pushbullet 
		| notifications when 
		a(href="https://www.twitch.tv") Twitch 
		| streamers you follow go live.
	p Written by Stefan Buchholtz
	p Email: 
		a(href="email:stbuchholtz@gmail.com") stbuchholtz@gmail.com 
	p The source code can be found on 
		a(href="https://github.com/stefan-buchholtz/twitch-pushbullet") GitHub
